{{#if user}}
<div class="jumbotron">
  <div class="container">
    <h1>Hi, {{user.username}}</h1>
    <div class="col-md-3">
      <h2>Profile Information</h2>
      <table class="table">
        <tr>
          <th>Team Name</th>
          <td>{{user.username}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <th>School</th>
          <th>{{user.school}}</th>
        </tr>
      </table>
    </div>
    <div class="col-md-5">
      <h2>Edit Profile</h2>{{#if flashMessages.accountError}}
      <div class="alert alert-danger">
        <p> {{flashMessages.accountError}}</p>
      </div>{{/if}}
      {{#if flashMessages.accountSuccess}}
      <div class="alert alert-success">
        <p> {{flashMessages.accountSuccess}}</p>
      </div>{{/if}}
      <form action="./account" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="text" value="{{user.email}}" name="email" placeholder="Enter Email" required="required" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="school">School</label>
          <input id="school" type="text" value="{{user.school}}" name="school" placeholder="Enter School" required="required" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="password">Current Password</label>
          <input id="password" type="password" name="password" placeholder="Enter Current Password" required="required" class="form-control"/>
        </div>
        <input name="action" type="hidden" value="update-profile"/>
        <input id="id-input" name="id" type="hidden" value="{{user.id}}"/>
        <button type="submit" class="btn btn-success">Update Account Info</button>
      </form>
    </div>
    <div class="col-md-4">
      <h2>Change Password</h2>{{#if flashMessages.passwordError}}
      <div class="alert alert-danger">
        <p> {{flashMessages.passwordError}}</p>
      </div>{{/if}}
      {{#if flashMessages.passwordSuccess}}
      <div class="alert alert-success">
        <p> {{flashMessages.passwordSuccess}}</p>
      </div>{{/if}}
      <form action="./account" method="post">
        <div class="form-group">
          <label for="current-password">Current Password</label>
          <input id="currrent-password" type="password" name="currentPassword" placeholder="Enter Current Password" required="required" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="new-password">New Password</label>
          <input id="new-password" type="password" name="newPassword" placeholder="Enter New Password" required="required" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="new-password-confirm">Confirm New Password</label>
          <input id="new-password-confirm" type="password" name="newPasswordConfirm" placeholder="Enter New Password" required="required" class="form-control"/>
        </div>
        <input name="action" type="hidden" value="update-password"/>
        <input name="id" type="hidden" value="{{user.id}}"/>
        <button type="submit" class="btn btn-success">Update Password</button>
      </form>
    </div>
  </div>
</div>{{else}}
<div class="jumbotron">
  <div class="container">
    <h1>Access Denied</h1><br/><br/><a href="./" class="btn btn-primary">Go Home</a>
  </div>
</div>{{/if}}
<div id="particles-js"></div>