
<div class="jumbotron">
  <div class="container">
    <h1>Scoreboard</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Place</th>
          <th>Team</th>
          <th>School</th>
          <th>Points</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>{{#each users}}
        <tr>
          <td>{{increment @index}}</td>
          <td>{{this.username}}</td>
          <td>{{this.school}}</td>
          <td>{{this.points}}</td>
          <td>{{date this.lastSolved}}</td>
        </tr>{{/each}}
      </tbody>
    </table>
  </div>
</div>
<div id="particles-js"></div>